@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap");

.wrapper {
	text-align: center;
	border: 1px solid #eee;
	width: 95%;
	margin: 4em auto;
	border-radius: 0.2em;
	font-family: "Cormorant Infant", serif;
	padding: 2em 1em;
	max-width: 800px;
}
.wrapper h2 {
	letter-spacing: 1px;
	padding: 1em 1em 1em 1em;
	font-weight: 700;
	user-select: none;
}
.wrapper small, div {
	user-select: none;
}
.wrapper form {
	max-width: 700px;
	margin: 0 auto;
}
.hair-length-label {
	display: block;
	font-weight: 700;
	color: #555;
}
#hair-input {
	cursor: pointer;
	min-width: 20em;
	max-width: 90vw;
	position: relative;
	-webkit-appearance: none; /* Override default CSS styles */
	appearance: none;
	height: 5px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}
.length-display {
	display: block;
	height: 1em;
}
#hair-input::before {
	content: "";
	background: url("../images/short.jpg") center center / cover no-repeat;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-150%, -50%);
	display: block;
	width: 2em;
	height: 2em;
	opacity: 0.7;
}
#hair-input::after {
	content: "";
	background: url("../images/long.jpg") center center / cover no-repeat;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(150%, -50%);
	display: block;
	width: 2em;
	height: 2em;
	opacity: 0.7;
}
@media screen and (max-width: 768px) {
	#hair-input::before,
	#hair-input::after {
		display: none;
	}
}
#hair-input:hover {
	opacity: 1;
}
#hair-input::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 20px; /* Set a specific slider handle width */
	height: 20px; /* Slider handle height */
	background: violet; /* Green background */
	cursor: pointer; /* Cursor on hover */
	border-radius: 50%;
}
#hair-input::-moz-range-thumb {
	width: 20px; /* Set a specific slider handle width */
	height: 20px; /* Slider handle height */
	background: violet; /* Green background */
	cursor: pointer; /* Cursor on hover */
	border-radius: 50%;
}

.hair-color-label {
	padding: 2em 0 1em 0;
	font-weight: 700;
	color: #555;
}
.radio-group {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 1em;
	justify-content: center;
	justify-items: center;
}
@media screen and (max-width: 768px) {
	.radio-group {
		grid-template-columns: 1fr;
	}
}

.radio-group label {
	cursor: pointer;
	user-select: none;
	border: 1px solid #ccc;
	border-radius: 0.3em;
	padding: 1em 0;
	min-width: 10em;
	font-weight: 600;
	box-shadow: 2px 2px 5px 1px #ccc;
	background-color: #fff;
	font-size: 1.2em;
	color: #555;
}
.radio-group label.active {
	background-color: #ffedf0;
	box-shadow: inset 2px 2px 5px 1px #ccc;
}
/* .radio-group label:nth-child(1),
.radio-group label:nth-child(3) {
	justify-self: end;
}
.radio-group label:nth-child(4),
.radio-group label:nth-child(2) {
	justify-self: start;
} */
.radio-group label input {
	visibility: hidden;
	margin-right: -1em;
}
.hair-price-label {
	padding: 2em 0 0 0;
	font-weight: 700;
	font-size: 1.1em;
	color: #555;
}
.hair-price {
	font-size: 2.5em;
	color: violet;
	font-weight: 700;
	padding-bottom: 0.5em;
}
